* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --dark-purple: #31003e;
  --medium-purple: #7e00a0;
  --pinky: #eaccf2;
  --pinky-dark: #d9b2e4;
}

body {
  font-family: 'Quicksand', sans-serif;
  color: #fff;
}

input,
select,
option {
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  border: none;
  border-radius: 0.5em;
  padding: 0.25em 0.5em;
  background-color: var(--pinky);
  color: var(--dark-purple);
}

input[type='submit'] {
  margin: 2em 0 0.25em 0;
  padding: 0.5em;
  color: #fff;
  background-color: var(--dark-purple);
  font-weight: bold;
}

h2 {
  margin: 0.75em 0;
  font-size: 1rem;
}
p {
  color: var(--pinky);
  margin: 0.5em 0;
}

.center {
  text-align: center;
}

.info {
  background-color: var(--pinky);
  color: var(--dark-purple);
  margin: 1em;
  padding: 0.5em;
}
